In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
path = 'gdrive/My Drive/grrr/'

In [ ]:
d0 = pd.read_csv(path+"allfirstrun.csv")
d1 = pd.read_csv(path+"flowers3110.csv")
d2 = pd.read_csv(path+"flux1918.csv")
d3 = pd.read_csv(path+"flux2562.csv")
d4 = pd.read_csv(path+"happy2620.csv")
d5 = pd.read_csv(path+"laughter314.csv")
d6 = pd.read_csv(path+"laughter2619.csv")
d7 = pd.read_csv(path+"london11394.csv")
d8 = pd.read_csv(path+"london16747.csv")
d9 = pd.read_csv(path+"ambulanceablaze749.csv")
d10= pd.read_csv(path+"delugecollide.csv")
d11= pd.read_csv(path+"trial1.csv")
d12= pd.read_csv(path+ "final2.csv")
d13= pd.read_csv(path+ "trials2.csv")

In [ ]:
d13.head(2)

         username  ...                                           hashtags
0     doubletetra  ...  [{'text': 'MuhammadAli', 'indices': [53, 65]},...
1  richardjdsouza  ...  [{'text': 'anxietytips', 'indices': [54, 66]},...

[2 rows x 10 columns]

In [ ]:
d0.head(2)

              User  ...                              hashtags in the tweet
0       Actorielle  ...  [{'text': 'insulin', 'indices': [39, 47]}, {'t...
1  IkaLest25577531  ...  [{'text': 'loveyourself', 'indices': [159, 172...

[2 rows x 10 columns]

In [ ]:
#0,9,10,11,12, 13

In [ ]:
d0.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d0=d0[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]
d9.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d9=d9[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]
d10.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d10=d10[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]
d11.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d11=d11[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]
d12.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d12=d12[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]
d13.columns =['User',	'Location',	'Num of Friend','Num of Followers','Total Tweets by user','Account Created at',	'Tweet Created at',	'Num of Retweet','Tweet',	'hashtags in the tweet']
d13=d13[['User','Location','Tweet','Num of Friend','Num of Followers','Total Tweets by user','Account Created at','Tweet Created at','Num of Retweet','hashtags in the tweet']]

In [ ]:
all = pd.concat([d0,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13], axis = 0, ignore_index = True)
all.shape

(107771, 10)

In [ ]:
all_wout_dup = all.drop_duplicates(subset = "Tweet", ignore_index = True)
all_wout_dup.shape

(23548, 10)

In [ ]:
all_wout_dup

In [ ]:
all_wout_dup.drop(all_wout_dup.loc[all_wout_dup['User']=='User'].index, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
import re
from nltk.stem.wordnet import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk
nltk.download('all')
nltk.download('stopwords')

from nltk.corpus import stopwords
stop_words = stopwords.words("english")
#updated the stopwords by adding a list of terms, like km and mi, also the directions from 16 wind compass rose https://en.wikipedia.org/wiki/Points_of_the_compass
#newStopWords = ['km','mi','utc','gmt','n','s','w','e','ne','nw','se','sw','nne','ene','ese','sse','ssw','wsw','wnw','nnw']
#stop_words.extend(newStopWords)

In [ ]:
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)

def clean_text(twt):

    cln_twt = re.sub("^b", "", twt) #Remove the extra "b'" of every tweet at the beginning
    cln_twt = re.sub(r'\\n', ' ', cln_twt)
    cln_twt = emoji_pattern.sub(r"", cln_twt) #Removing emoji patterns compiled above
    cln_twt = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', '', cln_twt) #Removing the links
    #cln_twt = all.drop_duplicates(subset = "Tweet", ignore_index = True)
    cln_twt = re.sub("(#[^\s]+\s+)*(#[^\s]+)$", "", cln_twt)  #Remove the hashtags at the end of the tweet
    cln_twt = re.sub(r'#', '', #Replace hashtags in the actual tweet with space
                     cln_twt)
    cln_twt = re.sub("[^\d\s]*[\d]+[^\d\s]*", "", cln_twt) #Removes all sorts of numbers and date time characters 
    cln_twt = re.sub(r'[^\w\d\s]', ' ', cln_twt) #Punctuation removed
    cln_twt = re.sub(r'\\x[a-z]*[0-9]*[a-z]*', ' ', cln_twt)
    cln_twt = re.sub(r'\s+', ' ', cln_twt) #Too much space replaced by single space
    cln_twt = re.sub(r'^\s+|\s+?$', '', cln_twt.lower()) #Get rid of spaces at the beginning and at the end.
    

    #LEMMATIZE
    return ' '.join([lemmatizer.lemmatize(term, 'v') 
    for term in cln_twt.split(" ")
    if term not in stop_words
    ])
    #self.cln_twt=  self.cln_twt.decode("utf-8")

    #self.cln_twt = list(set(self.cln_twt))

In [ ]:
clean_text

In [ ]:
all_wout_dup["Cleaned Tweet 1"] = all_wout_dup.apply(lambda a: clean_text(a["Tweet"]), axis = 1)

for i in range(0,2064):

  print(all_wout_dup["Cleaned Tweet 1"][i])

In [ ]:
from datetime import datetime
to_csv_timestamp = datetime.today().strftime('%Y%m%d_%H%M%S')

    # Define working path and filename
path = 'gdrive/My Drive/grrr/'
filename = path+ to_csv_timestamp + '_final_random_tweets.csv'

In [ ]:
all_wout_dup=all_wout_dup.drop_duplicates(subset="Cleaned Tweet 1")

In [ ]:
all_wout_dup=all_wout_dup.reset_index(drop=True)

In [ ]:
all_wout_dup

In [ ]:
  # Store dataframe in csv with creation date timestamp
all_wout_dup.to_csv(filename, index = False,encoding="utf-8")